# Dependencies
node_modules

# Dist
dist
.next
out

# OS
.DS_Store

# Development Environment
.vscode
.idea

# Logs
*.log

# Testing
coverage/
/coverage
/cypress/videos
/cypress/screenshots
/cypress/plugins
/cypress/support
/cypress/fixtures/example.json
cypress.json
!/cypress/cypress.json

# npm (all lock files except the root one)
package-lock.json
!/package-lock.json

# typescript
tsconfig.tsbuildinfo

*.log
.DS_Store
.next
node_modules
.env.local
public/sitemap.xml
public/feed.xml
.vercel
out
